@media screen and (min-width: 1160px) {
  .wrapper__firstWindow__aboutMovie{
    bottom: 21%;
  }
}
@media screen and (max-width: 1160px) {
  .wrapper__firstWindow__aboutMovie{
    bottom: 5%;
  }
}

.wrapper {
  width: 100vw;
  min-width: 1000px;
  max-width: 2000px;
  color: #EBFAFF;
  background: linear-gradient(240deg, #030A1B 34%, #030A1B 500%);
  display: flex;
  overflow-y: hidden;
  flex-wrap: wrap;


  //Первое окно (После разбить)
  .wrapper__firstWindow {
    width: 100%;
    min-width: 1000px;
    max-width: inherit;
    height: calc(100vw / 1.9);
    min-height: 470px;
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 1000px;
    margin-bottom: 90px;

    .wrapper__firstWindow__image {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vw / 2);
      max-height: 1000px;
      min-width: 1000px;
      min-height: 500px;
      max-width: 2000px;
      z-index: 0;
      overflow: hidden;
    }

    .wrapper__firstWindow__aboutMovie {
      z-index: 1;
      width: clamp(500px, 60%, 720px);
      height: clamp(100px, 35%, 180px);
      position: absolute;
      padding-left: 65px;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      transform: translate(-50%, 0);


      .wrapper__firstWindow__aboutMovie__movieName{
        font-size: 70px;
        display: flex;
        font-weight: bold;
        justify-content: start;
      }

      .wrapper__firstWindow__aboutMovie__description{
        display: flex;
        justify-content: start;
        text-align: start;
      }
    }
  }



  //Второе окно (После разбить)
  .wrapper__secondWindow{
    height: 386px;
    width: 100%;


    .wrapper__secondWindow__text{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding-left: 65px;
      padding-right: 65px;
      align-items: center;


      .wrapper__secondWindow__text__name{
        font-size: 36px;
        display: flex;
        font-weight: bold;
        justify-content: start;
      }
    }
  }
}

