.wrapper{
  width: 100vw;
  height: 100vh;
  max-width: 3000px;
  background: linear-gradient(
                  240deg,
                  #030A1B 34%,
                  #9747FF 500%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .wrapper__backButton{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
  }

}
.wrapper__successfulLogin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EBFAFF;


  .wrapper__successfulLogin__img {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;

  }

  .wrapper__successfulLogin__userNickname{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .wrapper__successfulLogin__congratsText{
    font-size: 32px;
  }

  .wrapper__successfulLogin__button{
    margin-top: 30px;
    background: #228EE5;
    width: 160px;
    height: 50px;
    color: #EBFAFF;
    border-radius: 12px;
    transition-duration: 0.3s;



  }

  .wrapper__successfulLogin__button:hover{
    background: rgba(25, 108, 174, 0.9);
  }
}