
.wrapper{
  width: 80%;
  min-width: 850px;
  border: 1px solid rgba(34, 142, 229, 0.35);
  height: 78px;
  z-index: 100;
  top: 25px;
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  color: #EBFAFF;
  border-radius: 20px;
  padding: 8px;
  justify-content: space-between;

  backdrop-filter: blur(6px);



  .wrapper__options{
    display: flex;
    height: 100%;
    align-items: center;
    text-align: center;
    gap: 18px;
    width: fit-content;
    overflow: hidden;


    .wrapper__options_img{
      width: 80px;
      height: 80px;
    }

    ul{
      color: #fff;
      text-decoration: none;
      display: inline-block;
      letter-spacing: 0.03rem;
      font-size: 20px;
      cursor: pointer;
      position: relative;
    }

    ul::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      display: block;
      height: 2px;
      width: 0;
      background: #228EE5;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    ul:hover::after {
      width: 100%;
      left: 0;
    }

  }



  .wrapper__userOptions{

    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    width: 150px;
    align-items: center;

    img{
      width: 26px;
      height: 26px;
    }
  }


}