
@media screen and (min-width: 2000px) {
  .absoluteWrapper {
    border-left: 1px solid rgba(34, 142, 229, 0.35);
    border-right: 1px solid rgba(34, 142, 229, 0.35);
  }
}
.absoluteWrapper{
  min-height: 480px;
  max-width: 2000px;


}