.wrapper{
  width: 100vw;
  height: 100vh;
  max-width: 3000px;
  background: linear-gradient(
                  240deg,
                  #030A1B 34%,
                  #9747FF 500%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .wrapper__backButton{
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
  }

}


.wrapper__successfulRegister{
  display: flex;
  color: #EBFAFF;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  .wrapper__successfulRegister__userInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .wrapper__successfulRegister__userInfo__nickname{
    font-size: 26px;
  }

  .wrapper__successfulRegister__userInfo__image{
    width: 180px;
    height: 180px;
    border-radius: 99999px;
    border: none;
  }

  .wrapper__successfulRegister__avatars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin-bottom: 5px;


    img{
      margin: 0 20px 0 20px;
    }
  }
}

.wrapper__successfulRegister__button{
  background: #228EE5;
  width: 160px;
  height: 50px;
  color: #EBFAFF;
  border-radius: 12px;
  transition-duration: 0.3s;
}

.wrapper__successfulRegister__button:hover{
  background: rgba(25, 108, 174, 0.9);
}